<div class="md-copyright">
  <strong>Aviso Legal</strong><br>
  O material apresentado aqui é criação original minha, destinada ao uso com o sistema <strong>GURPS</strong> da Steve Jackson Games. Este material não é oficial e não é endossado pela Steve Jackson Games.<br>
  <strong>GURPS</strong> é uma marca registrada da Steve Jackson Games, e os direitos autorais da arte aqui apresentada pertencem à Steve Jackson Games. Todos os direitos reservados à SJ Games. Este material é usado aqui de acordo com a política online da SJ Games.
</div>