.md-header__button.md-logo img {
  height: 50px;
}

.md-typeset blockquote,
.md-typeset .admonition-quote {
  text-align: justify;
  hyphens: auto;
}

.md-typeset {
  text-align: justify;
  hyphens: auto;
}

.tabela thead th {
    background: linear-gradient(180deg, #5E35B1, #4527A0);
    color: #fff;
    border-bottom: 2px solid #7E57C2;
    font-weight: 800;
    position: sticky;
    top: 0;
    z-index: 100;
 
  }
.tabela td ul {
    margin: 0;
    padding-left: 0.1em;
}

.tabela td li {
    margin: 0;
    line-height: 1.25;
}

@media (max-width: 768px) {
  .md-typeset {
    text-align: left;
  }
}

.sheet-container {
    overflow: hidden;
}

.sheet-container iframe {
    width: 1250px;
    height: 2200px;
    border: none;

    transform: scale(0.8);
    transform-origin: top left;
}